body {
  background: #8a9a5b;
  font-family: "Poppins", sans-serif;
}

.theme-button {
  background: black;
  color: white;
  font-size: 12px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  transition: all 200ms ease-in-out;
}

.theme-button:hover {
  cursor: pointer;
  background: white;
  color: black;
}

.container {
  background: white;
  border-radius: 10px;
  padding: 20px 30px;
  margin: 20px 30px;
}

h1,
h2 {
  text-align: center;
}
img {
  max-width: 100%;
}

.horse-intro-picture {
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}

.horse-intro-picture:hover {
  filter: contrast(80%);
  transform: scale(1.1);
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.grid img {
  border-radius: 8px;
  transition: all 150ms ease-in-out;
}

.grid img:hover {
  transform: scale(2);
}

.learn-button {
  display: block;
  margin: 0 auto;
  margin-top: 28px;
  padding: 20px 30px;
  border-radius: 10px;
  border: 2px solid;
  border-color: #8a9a5b;
  background: white;
  transition: all 200ms ease-in-out;
}

.learn-button:hover {
  cursor: pointer;
  background: rgba(138, 154, 91, 0.5);
}

footer {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.dark {
  background: #133020;
  color: white;
}

.dark a {
  color: plum;
}

.dark .theme-button {
  background: white;
  color: black;
}

.dark .theme-button:hover {
  cursor: pointer;
  background: black;
  color: white;
}

.dark .container {
  background: rgba(255, 255, 255, 0.2);
}

.dark .learn-button {
  background: black;
  color: white;
  border: none;
}

.dark .learn-button:hover {
  background: white;
  color: black;
  cursor: pointer;
}
